[Desktop Entry]
Name=MagicaVoxel
Exec=bottles-cli run -p MagicaVoxel -b 'magicavoxel' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/account/.bottles/magicavoxel/icons/MagicaVoxel.png
Comment=Launch MagicaVoxel using Bottles.
StartupWMClass=MagicaVoxel
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b 'magicavoxel'
