[Desktop Entry]
NoDisplay=true
Version=1.0
Exec=pavucontrol-qt
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=Qt;AudioVideo;Audio;Settings;DesktopSettings;
Name=PulseAudio Volume Control
GenericName=Adjust volume levels and select audio devices
Comment=Adjust volume levels and select audio devices
Name[ar]=PulseAudio للتحكم بالصوت
GenericName[ar]=ضبط مستويات الصوت وحدد أجهزة الصوت
Comment[ar]=ضبط مستويات الصوت وحدد أجهزة الصوت
Name[bg]=Контрол на звука
GenericName[bg]=Регулиране на нивата на звука и избор на аудио устройства
Comment[bg]=Регулиране на нивата на звука и избор на аудио устройства
Name[ca]=Control del volum de PulseAudio
GenericName[ca]=Ajusta els nivells de volum i selecciona dispositius d'àudio
Comment[ca]=Ajusta els nivells de volum i selecciona dispositius d'àudio
Name[cs]=PulseAudio ovládání hlasitosti
GenericName[cs]=Přizpůsobení úrovně hlasitosti a výběr zvukových zařízení
Comment[cs]=Úprava úrovně hlasitosti a výběr zvukových zařízení
Name[da]=PulseAudio-lydstyrkekontrol
GenericName[da]=Juster lydstyrken og vælg lydenheder
Comment[da]=Juster lydstyrken og vælg lydenheder
Name[de]=Lautstärkeregelung PulseAudio
GenericName[de]=Lautstärkepegel anpassen und Audiogeräte auswählen
Comment[de]=Lautstärkepegel anpassen und Audiogeräte auswählen
Name[el]=Έλεγχος έντασης του PulseAudio
GenericName[el]=Ρύθμιση των επιπέδων έντασης και επιλογή των συσκευών ήχου
Comment[el]=Ρύθμιση των επιπέδων έντασης και επιλογή των συσκευών ήχου
Name[es]=Control de volumen de PulseAudio
GenericName[es]=Ajustar los niveles de volumen y seleccionar los dispositivos de audio
Comment[es]=Ajustar los niveles de volumen y seleccionar los dispositivos de audio
Name[et]=PulseAudio helitugevuse juhtimine
GenericName[et]=Helitugevuse juhtimine ning audioseadmete valik
Comment[et]=Seadista heli valjust ning vali audioseadmeid
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
GenericName[fi]=Säädä äänenvoimakkuuta ja valitse äänilaitteet
Comment[fi]=Säädä äänenvoimakkuuta ja valitse äänilaitteet
Name[fr]=Contrôle du volume PulseAudio
GenericName[fr]=Régler les niveaux de volume et sélectionner les périphériques audio
Comment[fr]=Régler les niveaux de volume et sélectionner les périphériques audio
Name[gl]=Control de volume do PulseAudio
GenericName[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
Comment[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
Name[he]=בקרת עצמת השמע של PulseAudio
GenericName[he]=כוונון עוצמות השמע ובחירת התקני שמע
Comment[he]=כוונון עוצמות השמע ובחירת התקני שמע
Name[hi]=पल्सऑडियो वॉल्यूम कंट्रोल
GenericName[hi]=वॉल्यूम कंट्रोल
Comment[hi]=वॉल्यूम लेवल ठीक करें
Name[hr]=PulseAudio kontrola glasnoće
GenericName[hr]=Prilagodi razine glasnoće i odaberi audio uređaje
Comment[hr]=Prilagodi razine glasnoće i odaberi audio uređaje
Name[hu]=PulseAudio hangerőszabályzó
GenericName[hu]=Hangerőszabályzó
Comment[hu]=Hangerő beállítása
Name[it]=Controllo Volumi PulseAudio
GenericName[it]=Regola i livelli del volume e seleziona i dispositivi audio
Comment[it]=Regola i livelli del volume e seleziona i dispositivi audio
Name[ja]=PulseAudio 音量調節 Qt
GenericName[ja]=音量レベルの調整とオーディオデバイスの選択
Comment[ja]=音量レベルの調整とオーディオデバイスを選択します
Name[kk]=PulseAudio дыбыс деңгейін басқару
GenericName[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
Comment[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
Name[ko]=PulseAudio 음량 제어
GenericName[ko]=음량 수준 조정 및 오디오 장치 선택하기
Comment[ko]=음량 수준 조정 및 오디오 장치 선택하기
Name[lg]=Ekifuga butimbifu bw'edoboozi erikolebwako PulseAudio
GenericName[lg]=Teekateeka butumbifu bw'eddoboozi era tegeka ebyuma ebirikolako
Comment[lg]=Teekateeka butumbifu bw'eddoboozi era tegeka ebyuma ebirikolako
Name[lt]=PulseAudio garsio reguliavimas
GenericName[lt]=Reguliuoti garsio lygius ir pasirinkti garso įrenginius
Comment[lt]=Reguliuoti garsio lygius ir pasirinkti garso įrenginius
Name[nb_NO]=PulseAudio-lydstyrkekontroll
GenericName[nb_NO]=Juster lydstyrke og velg lydenheter
Comment[nb_NO]=Juster lydstyrke og velg lydenheter
Name[nl]=PulseAudio-volumeregeling
GenericName[nl]=Pas volumeniveaus aan en schakel tussen audio-apparaten
Comment[nl]=Pas volumeniveaus aan en schakel tussen audio-apparaten
Name[oc]=Contraròtle del volum de PulseAudio
GenericName[oc]=Ajustar los nivèls de volum e seleccionar los periferics àudio
Comment[oc]=Ajustar lo nivèl del volum e seleccionar los periferics àudio
Name[pl]=Kontrola PulseAudio
GenericName[pl]=Dostosuj poziomy głośności i wybierz urządzenia audio
Comment[pl]=Dostosuj poziomy głośności i wybierz urządzenia audio
Name[pt]=Controlo de volume PulseAudio
GenericName[pt]=Ajustar os níveis de volume e selecionar dispositivos de áudio
Comment[pt]=Ajustar os níveis de volume e selecionar dispositivos de áudio
Name[ro]=Control volum PulseAudio
GenericName[ro]=Control volum
Comment[ro]=Ajustează nivelul volumului
Name[ru]=Регулятор громкости PulseAudio
GenericName[ru]=Отрегулируйте уровень громкости и выберите аудиоустройства
Comment[ru]=Отрегулируйте уровень громкости и выберите аудиоустройства
Name[sk]=PulseAudio na ovládanie hlasitosti
GenericName[sk]=Upraviť úroveň hlasitosti a vybrať zvukové zariadenia
Comment[sk]=Upraviť úroveň hlasitosti a vybrať zvukové zariadenia
Name[sl]=Nastavitev glasnosti PulseAudio
GenericName[sl]=Nastavitev glasnosti
Comment[sl]=Nastavi glasnost
Name[tr]=PulseAudio Ses Denetimi
GenericName[tr]=Ses seviyelerini ayarlayın ve ses cihazlarını seçin
Comment[tr]=Ses seviyelerini ayarlayın ve ses cihazlarını seçin
Name[uk]=Керування гучністю PulseAudio
GenericName[uk]=Налаштувати рівні гучності та вибрати аудіопристрої
Comment[uk]=Налаштувати рівні гучності та вибрати аудіопристрої
Name[vi]=Điều khiển Âm lượng PulseAudio
GenericName[vi]=Điều chỉnh âm lượng và chọn thiết bị âm thanh
Comment[vi]=Điều chỉnh âm lượng và chọn thiết bị âm thanh
Name[zh_CN]=PulseAudio 音量控制
GenericName[zh_CN]=设备选择和音量控制
Comment[zh_CN]=设备选择和调整音量
Name[zh_TW]=PulseAudio 音量控制
GenericName[zh_TW]=調整音量與選擇音訊裝置
Comment[zh_TW]=調整音量與選擇音訊裝置
