[Desktop Entry]
Version=1.0
Type=Application
Name=tkPacman
GenericName=Package Manager
Comment=Graphical user interface for pacman
Exec=/usr/bin/tkpacman
Icon=/usr/share/tkpacman/icons/tkpacman-icon.png
Terminal=false
Categories=System;
X-Desktop-File-Install-Version=0.22
