[Desktop Entry]
Name=Unity Hub
Exec=/opt/unityhub/unityhub %U
Terminal=false
Type=Application
Icon=unity-hub.png
StartupWMClass=unityhub
Comment=The Official Unity Hub
Categories=Development;
TryExec=unityhub
MimeType=x-scheme-handler/unityhub;